body {
margin:0;
padding:0;
background-color:white;
}
.header {
	display:grid;
	width:100%;
	height:43px;
	background:#2c2c2c;
	opacity: .96;
	text-align:center;
	align-items:fixed;
	color:#FAFAFA;
	position:fixed;
	font-family:'Open Sans Condensed';
	z-index:999;
	word-spacing:20px;
	letter-spacing:0.2px;
} 
.header > div > span {
	padding-right:25px;
	padding-left:25px;
	font-size:19px;
}
.header > div > span:hover {
	color:#959595;
}
.header a {
  color: inherit;
  text-decoration:inherit;
  font-size:19px;
  padding-right:25px;
  padding-left:25px;
}
.header > div > a:hover {
	color:#959595;
}
.header img{
	width:25px;	
}
.iphoneheader{
	color:#959595;
}
/*header ok*/
.headxs {
	height:10px;
	text-align:center;
	font-size:35px;
	padding-top:55px;
	font-family:"Arial";
	font-weight:bold;
	letter-spacing:1px;
	padding-top:70px;
	margin-top:0px;
	margin-bottom:-55px;	
}
.iphonexs {
	background-image:url('xs3d.jpg');
	width:100%;
	height:500px;
	background-repeat: no-repeat;
	background-position:center;
	background-size:75% 500px;
	margin-left:auto;
	margin-right:auto;
	padding-top:250px;
}
#detalii1 {
	float:left;
	text-align:left;
	margin-left:4%;
	font-size:20px;
	margin-top:100px;
}
.iphonexs a {
	color:inherit;
	text-decoration:inherit;
}
#detalii1:hover {
	text-decoration:underline;
}
#cumpara1 {
	float:right;
	text-align:right;
	margin-right:4%;
	font-size:20px;
	margin-top:100px;
}
#cumpara1 a {
	color:inherit;
	text-decoration:inherit;
}

#cumpara1:hover {
	text-decoration:underline;
}
.desprexs1 {
	width:100%;
	height:500px;
}
.imgxs {
	width:50%;
	height:500px;
	background-image:url('iphone_Xs_64gb_gold_sku_header.png');
	background-repeat:no-repeat;
	background-size:80% 480px;
	float:left;
}
.scrisxs1 {
	background:;
	width:50%;
	height:450px;
	float:right;
	}
#scris1 {
	float:left;
	text-align:center;
	font-size:35px;
	font-family: 'Montserrat', sans-serif;
	margin-right:100px;
		
}
.desprexs2 {
	width:100%;
	height:500px;
	padding-top:150px;
}
.imgxs2 {
	width:50%;
	height:480px;
	background-image:url('iphone-xs-max-silver-select-2018.png');
	background-repeat:no-repeat;
	background-size:80% 480px;
	float:right;
}
.scrisxs2 {
	display:grid;
	background:;
	width:50%;
	height:480px;
	float:left;
	}
#scris2 {
	display:grid;
	float:left;
	text-align:center;
	font-size:35px;
	font-family: 'Montserrat', sans-serif;
	margin-left:100px;
}
.headxr {
	text-align:center;
	font-size:35px;
	font-size:35px;
	font-family:"Arial";
	font-weight:bold;
	letter-spacing:1px;
	padding-top:200px;
	padding-bottom:40px;
}
.iphonexr {
	width:100%;
	height:470px;
	background-image:url('iphonexrs.jpg');
	background-repeat:no-repeat;
	background-size:73% 470px;
	background-position:center;
}	
#detalii2 {
	float:left;
	text-align:left;
	margin-left:4%;
	font-size:20px;
	padding-top:200px;
}
.iphonexr a {
	color:inherit;
	text-decoration:inherit;
}
#detalii2:hover {
	text-decoration:underline;
}
#cumpara2 {
	float:right;
	text-align:right;
	margin-right:4%;
	font-size:20px;
	padding-top:200px;
}
#cumpara2 a {
	color:inherit;
	text-decoration:inherit;
}

#cumpara2:hover {
	text-decoration:underline;
}
.desprexr {
	width:100%;
	height:500px;
	padding-top:150px;
}
.imgxr {
	width:50%;
	height:520px;
	background-image:url('iphone-xr-red-select-201809_GEO_EMEA.png');
	background-repeat:no-repeat;
	background-size:75% 520px;
	float:left;
}
.scrisxr1 {
	background:;
	width:50%;
	height:520px;
	float:right;
	}
#scris3 {
	float:left;
	text-align:center;
	font-size:35px;
	font-family: 'Montserrat', sans-serif;
	margin-right:100px;
	color: black;
	padding-top:60px;	
}	
.desprexr2 {
	width:100%;
	height:500px;
	padding-top:150px;
}
.imgxr2 {
	width:50%;
	height:520px;
	background-image:url('iPhone-XR-Black-fronssst_big.png');
	background-repeat:no-repeat;
	background-size:75% 520px;
	float:right;
}
.scrisxr2 {
	display:grid;
	background:;
	width:50%;
	height:480px;
	float:left;
	}
#scris4 {
	display:grid;
	float:left;
	text-align:center;
	font-size:28px;
	font-family: 'Montserrat', sans-serif;
	margin-left:100px;
	padding-top:70px;
}
.headx {
	text-align:center;
	font-size:35px;
	font-size:35px;
	font-family:"Arial";
	font-weight:bold;
	letter-spacing:1px;
	padding-top:200px;
	padding-bottom:0px;
}
.iphonex {
	width:100%;
	height:500px;
	background-image:url('0006975_iphone-x.jpeg');
	background-repeat:no-repeat;
	background-size:67% 700px;
	background-position:center;
}	
#detalii3 {
	float:left;
	text-align:left;
	margin-left:4%;
	font-size:20px;
	padding-top:200px;
}
.iphonex a {
	color:inherit;
	text-decoration:inherit;
}
#detalii3:hover {
	text-decoration:underline;
}
#cumpara3 {
	float:right;
	text-align:right;
	margin-right:4%;
	font-size:20px;
	padding-top:200px;
}
#cumpara3 a {
	color:inherit;
	text-decoration:inherit;
}
#cumpara3:hover {
	text-decoration:underline;
}
.desprex {
	width:100%;
	height:500px;
	padding-top:150px;
}
.imgx {
	width:50%;
	height:600px;
	background-image:url('purepng.com-iphone-xiphone-xapplescreen-21530617565atiut.png');
	background-repeat:no-repeat;
	background-size:50% 600px;
	float:left;
}
.scrisx1 {
	background:;
	width:50%;
	height:300px;
	float:right;
}
#scris5 {
	float:right;
	text-align:center;
	font-size:35px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	padding-right:100px;
	padding-top:60px;
}
.desprex2 {
	width:100%;
	height:500px;
	margin-top:150px;
}
.imgx2 {
	width:50%;
	height:500px;
	background-image:url('iphone_8_Blush_Gold-512.png');
	background-repeat:no-repeat;
	background-size:90% 500px;
	float:right;
}
.scrisx2 {
	background:;
	width:50%;
	height:300px;
	float:left;
}
#scris6 {
	float:left;
	text-align:center;
	font-size:35px;
	font-family: 'Montserrat', sans-serif;
	color: black;
	padding-left:100px;
	padding-top:60px;
}
.final {
	width:65%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	margin-bottom:100px;
}
#finaliphone {
	font-family: 'Montserrat', sans-serif;
	font-size:45px;
	font-weight:bold;
	text-align:Center;
}
/*footer ok*/
.footer{
	width:100%;
	height:320px;
	background:#2c2c2c;
	display:grid;
	margin:auto; 
	border-top:1px black solid;
}
.lista1 {
	position:absolute;
	float: left;
	width:33%;
	text-align:center;
	margin-left:1%;
	margin:0 auto;
}
.lista1 li {
	list-style-type:none;
	font-size:19px;
	margin-top:1px;
	color:white;
	font-family:'Open Sans Condensed';
	letter-spacing:0.5px;
	margin-right:-50%;
}
.lista1 h3 {
	font-size:20px;
	font-family: 'Roboto Condensed';
	margin-top:20px;
	margin-bottom:10px;
	margin-right:-50%;
}
.lista1 li:hover {
	color:#959595;
}
.lista2 {
	width:33%;
	float:left;
	text-align:center;
	position:absolute;
	margin-left:33%;
}
.lista2 li {
	list-style-type:none;
	font-size:19px;
	margin-top:1px;
	color:white;
	font-family:'Open Sans Condensed';
	letter-spacing:0.5px;
}
.lista2 h3 {
	font-size:20px;
	font-family: 'Roboto Condensed';
	margin-top:20px;
	margin-bottom:10px;
}
.lista2 li:hover {
	color:#959595;
}
.lista3 {
	float:right;
	text-align:center;
	margin-left:66%;
	position:absolute;
	width:33%;
}
.lista3 li {
	list-style-type:none;
	font-size:19px;
	margin-top:1px;
	color:white;
	font-family:'Open Sans Condensed';
	letter-spacing:0.5px;
	margin-left:-50%;
}
.lista3 h3 {
	font-size:20px;
	font-family:'Roboto Condensed';
	margin-top:20px;
	margin-bottom:10px;
	margin-left:-50%;
}
.lista3 li:hover {
	color:#959595;
	text-decoration:underline;
}
.footer a {
  color: inherit;
  text-decoration:inherit;
}
.copyright{
	width:100%;
	height:30px;
	background:#1a1a1a;
	margin-top:290px;
	font-size:13px;
	text-align:center;
	color:#8c8c8c;
}